<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <div>
        <article>

          <h2>
            <%= animals.species %>
          </h2>
          <h2> 
            <%= animals.extinct ? "Extinct" : "Not Extinct" %>
          </h2>
          <h2>
            <%= animals.location %>
          </h2>
          <h2>
            <%= animals.lifeExpectancy %>
          </h2>

          

          <a href="/animals/<%= animals._id %>/edit"><button>Edit this Animal</button></a>

          <form action="/animals/<%= animals._id %>?_method=DELETE" method="POST">

            <button>Delete</button>

          </form>

          <a href="/animals"><button>Home</button></a>
          
        </article>
      </div>
    </main>
  </body>
</html>